{% extends "app/base.html" %}

{% load static %}

{% block title %}Submit a collection of Fly Tipping{% endblock %}

{% block content %}

    <body style="margin: 80px;text-align: center;">
        <a href="{% url 'app:menu' %}" class="text-reset text-decoration-none">
            <img src="{% static 'app/clipboard-image.png' %}" style="padding: 10px; text-align: center;">
            <h1 class="fw-semibold" style="font-size: 96PX;">GOO-D-UCK BA-D-UCK</h1>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-left: 200px;padding-right: 200px;padding-bottom: 0;margin-bottom: 0;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.968986012746!2d-1.9002226839002678!3d52.47969724696729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e0164afebddc377!2zNTLCsDI4JzQ2LjkiTiAxwrA1Myc1Mi45Ilc!5e0!3m2!1sen!2suk!4v1667100118985!5m2!1sen!2suk" width="600" height="450" style="border:0;pointer-events:none" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <p style="font-size: 30px;text-align: center;">Add image of collected fly tipping:&nbsp;<input type="file" style="width: 375px;margin-top: 40px;" accept="image/*" required=""></p><button class="btn btn-primary text-center" type="button" style="margin-top: 20PX;width: 350PX;height: 50PX;font-size: 24PX;text-align: center;display: block;margin-left: 700px;background: #0E5415;border-radius: 100px;padding: 0;padding-right: 0;padding-left: 0;padding-bottom: 0;padding-top: 0;position: fixed;">I collected this fly tipping</button>
        <script src="{% static 'app/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'app/extra_js/OsmEmbed.js' %}"></script>
    </body>

{% endblock content %}